body{
    text-align: center;
    margin :auto;
    background-color: gray;
    color:white;
}
.btn-container{
    display:flex;
    justify-content: center;
}
.btn{
    border: 5px black solid;
    height:200px;
    width:200px;
    border-radius: 15px;
    margin: 2rem;
}
.red{
    background-color: red;
}
.pink{
    background-color: pink;
}
.yellow{
    background-color: yellow;
}
.brown{
    background-color: brown;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}